<nav class="navbar navbar-expand-lg navbar-dark bg-primary ">
    <a class="navbar-brand" href="{% url 'list_cases' %}">HotZone</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    List
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'list_cases' %}">Case</a>
                    <a class="dropdown-item" href="{% url 'list_locations' %}">Location</a>
                    <a class="dropdown-item" href="{% url 'list_viruses' %}">Virus</a>
                </div>
            </li>
        </ul>
    </div>
    <span id="greeting_message">Greetings, {{request.user}}</span>
    <a href="{% url 'user_logout' %}" id="logout_link">logout</a>
    <a href="{% url 'user_login' %}" id="login_link">login</a>
</nav>