<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>HotZone</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>

<div class="header">
    <h1>HotZone</h1>
</div>

<div class="navigation">
    <a href="{% url 'list_cases' %}"> Cases </a> | 
    <a href="{% url 'list_locations' %}"> Locations </a> | 
    <a href="{% url 'list_viruses' %}"> Viruses </a>
</div>

<div class="main">
    <h2>View Location Records</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>X Coordinate</th>
            <th>Y Coordinate</th>
        </tr>
        {% for location in locations_list %}
        <tr>
            <th><a href="{% url 'show_location_detail' location.name %}">{{location.name}}</a></th>
            <th>{{location.address}}</th>
            <th>{{location.xCoord}}</th>
            <th>{{location.yCoord}}</th>
        </tr>
        {% endfor %}
    </table>
    
</div>


</body>
</html>