.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}
html, body{
  min-height:100%;
  overflow:auto;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

div {
  height: 100%;
  width: 100%;
  display: block;
  overflow: auto;
  /* height: 100vh;
  width: 100vw; */
  /* ... */
}
