{% extends "base.html" %}

{% block content %}
<h1>HotZone</h1>

<br><br>


<span id="db-result" class = "table-responsive">
	<table border=1 class="table table-dark table-striped table-bordered" id="db-table"><tr> <th colspan="7">Saved Location </th><td><a href="{% url 'new_record' %}">New</a>
</td></tr>
	<tr><th>Name</th><th>Address</th><th>X</th><th>Y</th><th>From</th><th>To</th><th>Category</th></tr>

	{% for location in location_visited %}
		<tr>
			<td>{{ location.name }}</td>
			<td>{{ location.address}}</td>
			<td>{{ location.x}}</td>
			<td>{{ location.y}}</td>
			<td>{{ location.date_from }}</td>
			<td>{{ location.date_to }}</td>
			<td>{{ location.catagory }}</td>
			<td> <a href=> Edit</a> </td>
		</tr>
	{% endfor %}
	</table>
</span>
{% endblock %}


{% block javascript %}
<script>
	function reload_db(){
    var container = document.getElementById("db-result");
    var content = container.innerHTML;
    container.innerHTML= content;

	}
</script>
{% endblock %}
